.container1, .container2, .container3, .container4 {
    text-align: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    border: 1px solid blue;

}

.flex-box-container, .flex-box-container-3 {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-evenly;

}

.flex-box-container div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.flex-box-container img {
    width: 15%;
    margin: 5px;
    box-shadow: 10px 10px 50px olivedrab;
}

.rps-img:hover {
    box-shadow: 1px 10px 30px gray;
}
